<div class="container">
  <div #header class="header">
    <span class="resize-s">&euro;</span>
  </div>
  <div class="side">
    <table>
      <tbody>
        <tr>
          <td id="td1" class="resize-drag">
            <div class="card" draggable="true">
              content 01
            </div>
          </td>
          <td>
            <div class="card" draggable="true">
              content 02
            </div>
          </td>
          <td id="td2" class="resize-drag">
            <div class="card" draggable="true">content 33</div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="card" draggable="true">content4</div>
          </td>
          <td>
            <div class="card" draggable="true">content5</div>
          </td>
          <td>
            <div class="card" draggable="true">content6</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
